{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
<style>
    .graph-container {
        position: relative;
        height: 45vh;
        border: 1.2mm ridge #4e6570;
        border-radius: 30px;
    }
</style>

<div style="color:#464646; font-style: bold; font-size: 3rem; border-bottom: 1.2mm solid #464646;">Welcome, {{ request.user.username }}</div>

<!-- Sidebar -->
<div class="sidebar">
     <!--Sidebar content goes here-->
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="productDropdown">Select Product:</label>
            <select class="form-control" id="productDropdown">
                <option value="">---------</option>
                <option value="show_all">Show All</option>
                {% for item in product_items %}
                    <option value="{{ item.name }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div id="combined-container" class="graph-container">
    <canvas id="combined-graph"></canvas>
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <a href="{% url 'select-supplier' %}" class="btn btn-success btn-lg btn-block btn-huge">New Incoming Stock</a>
    </div>
    <div class="col-md-6">
        <a href="{% url 'new-sale' %}" class="btn btn-success btn-lg btn-block btn-huge">New Outgoing Stock</a>
    </div>
</div>

<br>

<div class="content-section">
    <div class="row">
        <div class="col-md-6">
            <div style="color: #4e6570; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #4e6570">Recent Sales</div><br>
            {% for item in sales %}
                {% if not forloop.first %}
                    <br><div style="border-bottom: 0.5px solid #4e6570"></div><br>
                {% endif %}
                <div class="row">
                    <div class="col-md-9">
                        Bill No: #{{ item.billno }} <br>
                        Purchased by <b>{{ item.name }}</b> <br>
                        <small><i>{{ item.time.date }}</i></small>
                    </div>
                    <div class="col-md-2"> <br> ${{ item.get_total_price }} <br> <a href="{% url 'sale-bill' item.billno %}">View Bill</a> </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-6">
            <div style="color: #4e6570; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #4e6570">Recent Purchases</div><br>
            {% for item in purchases %}
                {% if not forloop.first %}
                    <br><div style="border-bottom: 0.5px solid #4e6570"></div><br>
                {% endif %}
                <div class="row">
                    <div class="col-md-9">
                        Bill No: #{{ item.billno }} <br>
                        Purchased by <b>{{ item.supplier.name }}</b> <br>
                        <small><i>{{ item.time.date }}</i></small>
                    </div>
                    <div class="col-md-2"> <br>${{ item.get_total_price }} <br> <a href="{% url 'purchase-bill' item.billno %}">View Bill</a> </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Loading Chart JS -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script>
    Chart.defaults.global.defaultFontColor = '#3c3c3c';

    console.log("Cost Data:", {{ cost_data|safe }});

    var combinedConfig = {
        type: 'line',
        data: {
            datasets: [
                {
                    borderColor: '#1a79a5',
                    label: 'Stock in Inventory',
                    data: {{ data|safe }},
                },
                {
                    borderColor: '#4caf50',
                    label: 'Cost of Products',
                    data: {{ cost_data|safe }},
                }
            ],
            labels: {{ labels|safe }}
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
        },
    };

    window.onload = function () {
        var combinedCtx = document.getElementById('combined-graph').getContext('2d');
        window.CombinedLine = new Chart(combinedCtx, combinedConfig);

        // Show the initial graph (combined)
        document.getElementById('combined-container').style.display = 'block';
    };

    document.getElementById('productDropdown').addEventListener('change', function () {
        updateGraphs(this.value);
    });

    function updateGraphs(selectedProduct) {
        if (selectedProduct === "") {
            // If "All Products" is selected, redirect to the home page
            window.location.href = '{% url "home" %}';
        } else if (selectedProduct === "show_all") {
            // If "Show All" is selected, redirect to the home page
            window.location.href = '{% url "home" %}';
        } else {
            // Redirect to the page with the selected product and data as filters
            window.location.href = `?product=${selectedProduct}`;
        }
    }
</script>
{% endblock content %}
